<h1>Home Page</h1>

<p class:"intro">Welcome to Korean Movie Buffs!  This is a site for fans of 20th century Korean film to catalog, review and share their favourite works.  
You can add basic information (title, genre, description, director and associated film art) as well as more detailed reviews.  
More functionality (link sharing, links to social media, additional information categories) will be added at a later date, so please watch this space.  
Thank you for visiting!</p>

<address>
  <strong>Korean Movie Buffs</strong><br>
  4406 - 2191 Yonge St<br>
  Toronto, ON<br>
</address>

<address>
  <strong>Please report bugs to:</strong><br>
  <a href="mailto:#">reioflite@yahoo.co.uk</a>
</address>