<h1>Add a Movie</h1>

<div class:"row">
  <div class="col-md-6 col-md-offset-3">

<form class="form-horizontal" method = "POST" action ="/movies/create">
  
  <div class="form-group">
      <input type="text" name = "title" class="form-control" id="inputFirstname3" placeholder="Please enter the title of the movie">
    </div>
  
    
  <div class="form-group">
      <input type="text" name = "genre" class="form-control" id="inputLastname3" placeholder="Please enter the movie genre">
    </div>
   
  <div class="form-group">
     <input type="text" name = "description" class="form-control" id="inputPassword3" placeholder="Please enter a description of the movie">
    </div>
  
  <div class="form-group">
      <input type="text" name = "director" class="form-control" id="inputPassword3" placeholder="Please enter the name of the director">
    </div>
    
    <!--<div class="form-group">-->
  
   <!-- <div class="col-sm-10">
      <input type="url" name = "image_url" class="form-control" id="inputUserid3" placeholder="Please upload an image for the movie">
    </div> -->
    
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary center-block">Submit</button>
    </div>
  </div>
</form>
</div>
        